<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>Brand Name</header>
    {{{body}}}

</body>
</html>